# Security
.env
.env.local
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS / IDE
.DS_Store
.idea/
.vscode/

data/*
!data/prophet_forecast_output.json
!data/brent_anomalies_output.json
